[submodule "LearnCSS"]
	path = LearnCSS
	url = https://github.com/hyuckkim/LearnCSS
[submodule "Online-ModernArt-Maker"]
	path = Online-ModernArt-Maker
	url = https://github.com/hyuckkim/Online-ModernArt-Maker
